* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  flex-wrap: wrap;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  padding: 0 15px;
}

header ul li:nth-child(1) {
  padding-right: 30px;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.main .main-right {
  margin: 100px;
  width: 530px;
}

.main .main-right h1 {
  line-height: 50px;
  font-size: 40px;
}

.main .main-right p {
  margin-top: 20px;
  line-height: 20px;
  font-size: 16px;
}

.main .main-right .buttons {
  position: relative;
}

.main .main-right .buttons a {
  position: absolute;
  top: 20px;
  background-color: green;
  text-decoration: none;
  color: #fff;
  padding: 14px;
  border-radius: 10px;
  font-size: 20px;
}

.main .main-right .buttons button {
  position: absolute;
  left: 230px;
  top: 20px;
  background-color: #fff;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
}

.main-left img {
  margin-right: 882px;
}
