* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  flex-wrap: wrap;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  padding: 0 15px;
}

header ul li:nth-child(1) {
  padding-right: 30px;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.main .main-right {
  margin: 60px;
  width: 600px;
}

.main .main-right h1 {
  line-height: 50px;
  font-size: 40px;
}

.main .main-right p {
  margin-top: 20px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 400;
}

.main .main-right .buttons {
  position: relative;
}

.main .main-right .buttons .wep-app {
  position: absolute;
  top: 20px;
  background-color: rgb(65, 188, 65);
  text-decoration: none;
  color: #fff;
  padding: 14px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  top: 40px;
}

.main .main-right .buttons .app {
  position: absolute;
  width: 150px;
  right: 200px;
  top: 40px;
  background-color: #fff;
  border: 2px solid green;
  padding: 14px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}

.main-left .hero-img {
  transform: translateY(-200px);
  margin-right: 750px;
  width: 440px;
}

.sevices {
  position: relative;
}

.sevices h4 {
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: -250px;
  margin: 60px;
}

.sevices .star {
  width: 68px;
  position: absolute;
  top: -150px;
  right: 50px;
}

.sevices .commend {
  font-size: 20px;
  position: absolute;
  top: -80px;
  right: 55px;
}

.sevices .car {
  width: 70px;
  position: absolute;
  top: -150px;
  right: 160px;
}

.sevices .transport {
  font-size: 20px;
  position: absolute;
  top: -80px;
  right: 160px;
}

.sevices .air {
  width: 74px;
  position: absolute;
  top: -150px;
  right: 282px;
}

.sevices .travel {
  font-size: 20px;
  position: absolute;
  top: -80px;
  right: 280px;
}

.sevices .food {
  width: 70px;
  position: absolute;
  top: -150px;
  right: 400px;
}

.sevices .foodd {
  font-size: 20px;
  position: absolute;
  top: -80px;
  right: 395px;
}

.sevices .wallet {
  width: 70px;
  position: absolute;
  top: -150px;
  right: 520px;
}

.sevices .wallett {
  font-size: 20px;
  position: absolute;
  top: -80px;
  right: 500px;
}

.sevices .bimeh {
  width: 70px;
  position: absolute;
  top: -150px;
  right: 640px;
}

.sevices .bimehh {
  font-size: 20px;
  position: absolute;
  top: -80px;
  right: 640px;
}

.sevices .more {
  font-size: 20px;
  position: absolute;
  top: -130px;
  right: 780px;
}

.sevices .more-visit {
  font-size: 20px;
  position: absolute;
  top: -100px;
  right: 760px;
}

.main-service {
  position: relative;
}

.snapp-shop h4 {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 0px;
  margin: 20px;
  color: rgb(65, 63, 63);
}

.snapp-shop p {
  font-size: 20px;
  position: absolute;
  top: 50px;
  margin: 10px;
  right: 10px;
  color: rgb(93, 92, 92);
}

.main-service ul li {
  list-style: none;
}

.snapp-shop img {
  width: 80px;
  position: absolute;
  right: 250px;
  margin: 20px;
}
